
<h2>Comments:</h2>
<div id="facebook_comment" class="fb-comments" data-href="http://chlin62.github.io/" data-numposts="5" width ="100%"></div>
<div id="fb-root"></div>
<script>
var url = window.location.toString();
$("#facebook_comment").attr("data-href",url);
console.log(url);
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=712554515548373";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>

